@model YourProjectName.ViewModels.MyData.MyDataViewModel

<div class="row">
    <div class="col-md-6 offset-md-3 mt-3">
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="SaveUpdateMyData">
            <div class="form-group">
                <label asp-for="Name">Name:</label>
                <input type="text" class="form-control" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact">Contact:</label>
                <input type="text" class="form-control" asp-for="Contact" >
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Signature">Signature:</label>
                    
                <input class="form-control" asp-for="PostedFile" type="file"/>
                
            </div>
            <div>
                @if (Model.Signature != null)
                {
                    <img src="data:image/jpg;base64,@Convert.ToBase64String(Model.Signature)" height="100" />
                }
            </div>
            <div class="form-group mt-3">
                <input type="hidden" class="form-control" asp-for="Id" >
                <input class="btn btn-success" type="submit" value="Save"/>
                <a asp-action="Index" asp-controller="Home" >
                    <button  class="btn btn-primary" type="button">
                        Back
                    </button>
                </a>
               
            </div>
        </form>
    </div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}